.home-container {
    width: 720px;
    margin-top: 117px;
    margin-left: 120px;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.home-container .home-title {
    margin-bottom: 4px;
    height: 128px;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
    display: flex;
    align-items: center;
}

.home-container .home-info {
    height: 216px;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.home-container .home-info .home-info-email {
    color: #1890FF;
}

.home-btn {
    margin-top: 48px;
}