.home-container {
    width: 612px;
    margin-top: 179px;
    margin-left: 120px;
    font-family: 'Red Hat Display';
    font-style: normal;
}

.home-container .home-title {
    margin: 0;
    width: 580px;
    height: 128px;
    font-weight: bold;
    font-size: 43px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-container .home-info {
    width: 612px;
    height: 216px;
    font-weight: normal;
    font-size: 17px;
    line-height: 36px;
    color: #5A6774;
}

.home-container .home-info .home-info-email {
    color: #1890FF;
}

.home-btn {
    margin-top: 48px;
}